[Dd]ebug/
[Rr]elease/
.vs/
unCapTest/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.obj
*.pdb
*.pch
*.tlog
*.lastbuildstate
*.idb
*.res
*.exe
*.iobj
*.ipdb
*.aps
*.vcxproj
*.vcxproj.filters